<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68587916563-32v7lq0nmv1c8nk40t593g2mvlkeklp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68587916563-32v7lq0nmv1c8nk40t593g2mvlkeklp5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>68587916563-6p5saakof2khm0vl7p1o2tu1f6qq9uqp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPI9NmsGw-txdL3lE8YtmNegK1NLZOuRk</string>
	<key>GCM_SENDER_ID</key>
	<string>68587916563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.danteSleep</string>
	<key>PROJECT_ID</key>
	<string>dante-sleep</string>
	<key>STORAGE_BUCKET</key>
	<string>dante-sleep.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68587916563:ios:cf99d2f0d54675abc59ee6</string>
</dict>
</plist>